.todosapp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  app-header {
    width: 100%;
  }
  app-todos {
    width: 100%;
  }
  app-footer {
    width: 100%;
  }


}
